<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404</title>
    <style>
        body {background-image:url("https://i.pinimg.com/236x/4e/9d/91/4e9d912909c4be5e47ebc5eee68ac604--pokemon-backgrounds-iphone-backgrounds.jpg"); background-attachment: fixed}
        img, h1, form {text-align: center}
        a {display: block; margin-left: auto; margin-right: auto;}
        .center {display: block; margin-left: auto; margin-right: auto;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <img src="https://archive-media-0.nyafuu.org/vp/image/1512/00/1512001609452.png" class="center"/><br>
    <a href="http://127.0.0.1:5000/" >
        <button class="btn btn-secondary" style="display: block; margin-left: auto; margin-right: auto; padding: 10px 50px; font-size:20px;"><i class="fa fa-arrow-left"></i>Kembali</button>
    </a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>