<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Pokemon</title>
    <style>
        body {background-image:url("https://wallpapercave.com/wp/RBpf6Dr.jpg")}
        img, h1, h4, form {text-align: center}
        .center {display: block; margin-left: auto; margin-right: auto; text-align:center}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 style="color:white">{{dataPokemon.json()['forms'][0]['name'].capitalize()}}</h1>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{dataPokemon.json()['id']}}.png" height="200px" class="center"/><br>
    <h4 style="color:black; background-color:white" text-align="center">ID = {{dataPokemon.json()['id']}}</h4>
    <h4 style="color:black; background-color:white" text-align="center">Height = {{dataPokemon.json()['height']}}</h4>
    <h4 style="color:black; background-color:white" class="center">Weight = {{dataPokemon.json()['weight']}}</h4>
    <a href="http://127.0.0.1:5000/">
        <button class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Kembali</button>
    </a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>